
.Journeypage {
    margin: 0;
    color: #cac8c8;
    overflow: hidden;
}

.journey-content {
    max-width: 900px;
    margin: 0 auto;
    padding: 2rem 1rem;
}

.header1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
  margin: 0 0 2rem 1.3rem;
}

.header1 h1 {
    margin-right: 31rem;
    font-size: 2rem;
    margin-bottom: 0.5rem;
    color: #ffffff;
}

.header1 p {
    margin-right: 31rem;
    font-size: 1rem;
    color: #e2e2e2;
}

.addjanibtn {
    background: linear-gradient(to right, #7462b8, #bc00f5);
    color: rgb(219, 219, 219);
    border: none;
    padding: 0.65rem 1.4rem;
    border-radius: 8px;
    font-size: 1rem;
    font-weight: 500;
    cursor: pointer;
    transition: background 0.3s ease, transform 0.2s ease;
    white-space: nowrap;
}

.addjanibtn:hover {
    color: #ffffff;
    box-shadow: 0 0 12px 4px rgba(109, 92, 138, 0.6);
    background: linear-gradient(to right, #7462b8, #bc00f5);
    transform: translateY(-2px);
}

/*cards*/


.journeycard {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 2rem 1rem;
    max-width: 900px;
    margin: 0 auto;
}
 
.card-title {
    background-color: #040a1a;
}

.card {
    border: 1px solid #1F2937;
    width: 100%;
    background-color: #040a1a;
    border-radius: 12px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.08);
    padding: 2rem;
    transition: transform 0.2s ease;
}

.card:hover {
    transform: translateY(-4px);
}

.card-title {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    color: #e7e7e7;
}

.step-list {
    background-color: #040a1a;
    list-style: none;
    padding: 0;
    margin-bottom: 1.5rem;
}

.step-list li {
    display: flex;
    background-color: #040a1a;
    align-items: center;
    gap: 0.75rem;
    margin-bottom: 0.75rem;
    font-size: 1rem;
    color: #374151;
}

.card-button {
    background: #4f46e5;
    color: white;
    border: none;
    padding: 0.75rem 1.5rem;
    border-radius: 8px;
    cursor: pointer;
    font-weight: 500;
    font-size: 1rem;
    transition: background 0.3s ease;
}

.card-button:hover {
    background: white;
    box-shadow: 0 0 10px 3px rgba(149, 126, 185, 0.6);
    color: #4f46e5
}
