.logout-container {
  max-width: 400px;
  padding: 2rem;
  text-align: center;
  background-color: #081129;
  border: 1px solid #1F2937;
  border-radius: 8px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);

  /* Center on page */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.logout-container h2 {
  background-color: #081129;
  margin-bottom: 1.5rem;
  font-weight: 500;
}

.logout-button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;

    margin-top: 1.5rem;
    padding: 0.75rem  1.5rem;
    border: none;
    border-radius: 4px;
    font-weight: 550;
    font-size: 1rem;
    cursor: pointer;
    transition: background 0.2s ease;
    background: #b80000;
    color: white;
}
.wers {
  margin-bottom: 1.5rem;
  font-weight: 500;
  color: #ffe0e0;
  background-color: wheat;
}
.logout-button:hover {
   color: #ffffff;
    background: #ff0000;
    transform: scale(1.05);
    box-shadow: 0 0 12px 4px rgba(223, 103, 103, 0.342);
    transition: transform 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

.logout-button svg {
  width: 20px;
  height: 20px;
}
.close-icon {
  position: absolute;
  top: 12px;
  right: 12px;
  cursor: pointer;
  color: #555;
  transition: color 0.2s ease;
}

.close-icon:hover {
  color: red;
}
