.register-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: transparent;
}

.register-content {
  background-color: wheat;
}

.register-form {
  background-color: wheat;
  padding: 2rem;
  border-radius: 12px;
  width: 320px;
  display: flex;
  flex-direction: column;
}

.register-form h2 {
  text-align: center;
  margin-bottom: 1.5rem;
  font-size: 1.8rem;
}

.register-form label {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
  font-weight: 500;
  background-color: wheat;
}

.register-form input {
  padding: 0.6rem;
  margin-top: 0.4rem;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 1rem;
  background-color: white;
}

.resw {
  color: #1677ff;
  font-size: 1.2rem;
  text-align: center;
  margin-top: 1rem;
  background-color: transparent;
}

.register-form button {
  padding: 0.75rem;
  background-color: #1677ff;
  color: white;
  border: none;
  border-radius: 6px;
  font-size: 1rem;
  cursor: pointer;
  margin-top: 1rem;
  transition: 0.3s ease;
}

.register-form button:hover {
  background-color: #145ddb;
}

.password-input .icon {
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}

.password-input-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  background-color: transparent;
}

.password-input-wrapper input {
  width: 100%;
  padding: 0.5rem 2.5rem 0.5rem 0.75rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.password-input-wrapper .icon {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  background-color: transparent;
}

.close-icon {
  position: absolute;
  top: 12px;
  right: 12px;
  cursor: pointer;
  color: #e3d7d7;
  transition: color 0.2s ease;
}

.close-icon:hover {
  color: red;
}

.switch-link {
  text-align: center;
  margin-top: 1rem;
  background-color: transparent;
}

.swilkj {
  color: #1677ff;
  font-size: 1.2rem;
  text-align: center;
  margin-top: 1rem;
  background-color: transparent;
}

.icon {
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  background-color: transparent;
}
