.reset-password-container {
    max-width: 400px;
    margin: auto;
    background-color: wheat;
    padding: 2rem;
    border-radius: 8px;
   
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .reset-password-container h2 {
    text-align: center;
    margin-bottom: 1.5rem;
  }
  
  .reset-password-container form {
    display: flex;
    flex-direction: column;
  }
  
  .reset-password-container label {
    margin-bottom: 0.5rem;
    font-weight: bold;
  }
  
  .reset-password-container input {
    padding: 0.5rem;
    margin-bottom: 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .reset-password-container .error {
    color: red;
    margin-bottom: 1rem;
  }
  
  .reset-password-container .success {
    color: green;
    margin-bottom: 1rem;
    background-color: aliceblue;
  }
  
  .reset-password-container button {
    padding: 0.75rem;
    background: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .reset-password-container button:hover {
    background: #0056b3;
  }
  
  .switch-link {
    margin-top: 1rem;
    text-align: center;
  }
  
  .switch-link a {
    color: #007bff;
    text-decoration: underline;
    cursor: pointer;
  }
  .close-icon {
    position: absolute;
    top: 12px;
    right: 12px;
    cursor: pointer;
    color: #555;
background-color: transparent;
    transition: color 0.2s ease;
  }
  
  .close-icon:hover {
    background-color: transparent;
    color: red;
  }
  .swilkj {
    color: #1677ff;
    font-size: 1.2rem;
    text-align: center;
    margin-top: 1rem;
    background-color: transparent;
  }
  .swilkju {
    width: 100%;
    padding: 0.5rem;
    margin-bottom: 1rem;
    border: 1px solid #ccc;
    color: black;
    background-color: antiquewhite;
    border-radius: 4px;
  }
  